<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.sq.core.gtw.view.pub.TransInfoView"
            id="com.sq.core.gtw.view.pub.TransInfoView"
            name="交易视图">
      </view>
      <view
            class="com.sq.core.gtw.view.pub.DictMgnView"
            id="com.sq.core.gtw.view.pub.DictMgnView"
            name="数据字典视图"
            restorable="true">
      </view>
      <view
            class="com.sq.core.gtw.view.pub.ConnMgnView"
            id="com.sq.core.gtw.view.pub.ConnMgnView"
            name="通讯视图"
            restorable="true">
      </view>
      <view
            class="com.sq.core.gtw.view.pub.PkgMgnView"
            id="com.sq.core.gtw.view.pub.PkgMgnView"
            name="报文视图"
            restorable="true">
      </view>
      <view
            class="com.sq.core.gtw.view.transinfo.FlowMgnBizView"
            id="com.sq.core.gtw.view.transinfo.FlowMgnBizView"
            name="业务流程管理">
      </view>
      <view
            class="com.sq.core.gtw.view.transinfo.FlowMgnActionView"
            id="com.sq.core.gtw.view.transinfo.FlowMgnActionView"
            name="视图层">
      </view>
      <view
            class="com.sq.core.gtw.view.transinfo.DataMgnView"
            id="com.sq.core.gtw.view.transinfo.DataMgnView"
            name="数据库视图">
      </view>
      <view
            class="com.sq.core.gtw.view.pub.BizDefinitionView"
            id="com.sq.core.gtw.view.pub.BizDefinitionView"
            name="公用业务组件定义">
      </view>
   </extension>
   <extension
         id="application"
         name="com.sq.core.gtw.platfrom.Application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.sq.core.gtw.platfrom.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.sq.core.gtw.perspectives.TransPerspective"
            id="com.sq.core.gtw.perspectives.TransPerspective"
            name="交易视图">
      </perspective>
      <perspective
            class="com.sq.core.gtw.perspectives.DictMgnPerspective"
            id="com.sq.core.gtw.perspectives.DictMgnPerspective"
            name="数据字典管理">
      </perspective>
      <!--
      <perspective
            class="com.sq.core.gtw.perspectives.FlowMgnPerspective"
            id="com.sq.core.gtw.perspectives.FlowMgnPerspective"
            name="流程管理">
      </perspective>
      -->
      <perspective
            class="com.sq.core.gtw.perspectives.ConnMgnPerspective"
            id="com.sq.core.gtw.perspectives.ConnMgnPerspective"
            name="通讯管理">
      </perspective>
      <perspective
            class="com.sq.core.gtw.perspectives.PkgMgnPerspective"
            id="com.sq.core.gtw.perspectives.PkgMgnPerspective"
            name="报文管理">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.core.runtime.products">
      <product
            application="GTWPlatFrom.product"
            name="GTW PlatForm">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.sq.core.gtw.edit.ConnMgnSerivceEdit"
            default="false"
            id="com.sq.core.gtw.edit.ConnFtpMgnEdit"
            name="公用服务编辑器">
      </editor>
      <editor
            class="com.sq.core.gtw.edit.PkgMgnTextEdit"
            id="com.sq.core.gtw.edit.PkgMgnTextEdit"
            name="公用报文编辑器">
      </editor>
      <editor
            class="com.sq.core.gtw.edit.FlowMgnBizFlowEdit"
            contributorClass="com.sq.core.gtw.edit.controller.command.FlowBizDiagramActionBarContributor"
            id="com.sq.core.gtw.edit.FlowMgnBizEdit"
            name="流程管理">
      </editor>
      <editor
            class="com.sq.core.gtw.edit.FlowMgnActionEdit"
            contributorClass="com.sq.core.gtw.edit.controller.command.FlowBizDiagramActionBarContributor"
            id="com.sq.core.gtw.edit.FlowMgnActionEdit"
            name="视图编辑器">
      </editor>
      <editor
            class="com.sq.core.gtw.edit.FlowMgnBizMutiEdit"
            id="com.sq.core.gtw.edit.FlowMgnBizMutiEdit"
            name="流程编辑器">
      </editor>
      <editor
            class="com.sq.core.gtw.edit.FlowMgnBizTransInfoEdit"
            id="com.sq.core.gtw.edit.FlowMgnBizTransInfoEdit"
            name="流程编辑器-&gt;基本属性">
      </editor>
      <editor
            class="com.sq.core.gtw.edit.FlowMgnBizFlowEdit"
            contributorClass="com.sq.core.gtw.edit.controller.command.FlowBizDiagramActionBarContributor"
            id="com.sq.core.gtw.edit.FlowMgnBizEdit"
            name="流程编辑器-&gt;逻辑处理流程">
      </editor>
      <editor
            class="com.sq.core.gtw.edit.FlowMgnBizServiceEdit"
            id="com.sq.core.gtw.edit.FlowMgnBizServiceEdit"
            name="流程编辑器-&gt;服务定义">
      </editor>
      <editor
            class="com.sq.core.gtw.edit.FlowMgnBizDataPkgEdit"
            id="com.sq.core.gtw.edit.FlowMgnBizDataPkgEdit"
            name="流程编辑器-&gt;数据报文">
      </editor>
      <editor
            class="com.sq.core.gtw.edit.FlowMgnBizXmlSourceEdit"
            id="com.sq.core.gtw.edit.FlowMgnBizXmlSourceEdit"
            name="流程编辑器-&gt;XML源码">
      </editor>
      <editor
            class="com.sq.core.gtw.edit.DictMgnEdit"
            id="com.sq.core.gtw.edit.DictMgnEdit"
            name="数据字典编辑器">
      </editor>
      <editor
            class="com.sq.core.gtw.edit.DataMgnFormEditor"
            default="false"
            id="com.sq.core.gtw.edit.DataMgnFormEditor"
            name="数据库脚本编辑器">
      </editor>
      <editor
            class="com.sq.core.gtw.edit.FlowMgnBizCreateSubEdit"
            id="com.sq.core.gtw.edit.FlowMgnBizCreateSubEdit"
            name="创建业务子模型">
      </editor>
      <editor
            class="com.sq.core.gtw.edit.FlowMgnPubBizCreateSubEdit"
            id="com.sq.core.gtw.edit.FlowMgnPubBizCreateSubEdit"
            name="公用业务组件定义">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="com.sq.core.gtw.edit.FlowMgnActionEdit"
            typeMapper="com.sq.core.gtw.edit.extendtabproperties.FlowMgnActionTypeMapper">
         <propertyCategory
               category="Action"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.sq.core.gtw.edit.FlowMgnActionEdit">
          <propertyTab
                category="Action"
                id="action.properties"
                label="基本属性">
         </propertyTab>
         <propertyTab
               afterTab="action.properties"
               category="Action"
               id="action.transinfo"
               label="交易配置">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.sq.core.gtw.edit.FlowMgnActionEdit">
         <propertySection
               class="com.sq.core.gtw.edit.extendtabproperties.FlowMgnActionTransInfoTabSection"
               id="Action.基本属性.Tab1"
               tab="action.properties">
            <input
                  type="com.sq.core.gtw.edit.model.impl.ActionModelPropertiesAction">
            </input>
            <input
                  type="com.sq.core.gtw.edit.model.impl.ActionModelPropertiesFlow">
            </input>
            <input
                  type="com.sq.core.gtw.edit.model.impl.ActionModelPropertiesView">
            </input>
         </propertySection>
         <propertySection
               class="com.sq.core.gtw.edit.extendtabproperties.FlowMgnActionPropertiesActionTabSection"
               id="Action.交易配置.ActionTab1"
               tab="action.transinfo">
            <input
                  type="com.sq.core.gtw.edit.model.impl.ActionModelPropertiesAction">
            </input>
         </propertySection>
         <propertySection
               class="com.sq.core.gtw.edit.extendtabproperties.FlowMgnActionPropertiesFlowTabSection"
               id="Action.交易配置.FlowTab1"
               tab="action.transinfo">
            <input
                  type="com.sq.core.gtw.edit.model.impl.ActionModelPropertiesFlow">
            </input>
         </propertySection>
         <propertySection
               class="com.sq.core.gtw.edit.extendtabproperties.FlowMgnActionPropertiesViewTabSection"
               id="Action.交易配置.ViewTab1"
               tab="action.transinfo">
            <input
                  type="com.sq.core.gtw.edit.model.impl.ActionModelPropertiesView">
            </input>
         </propertySection>
         <propertySection
               class="com.sq.core.gtw.edit.extendtabproperties.FlowMgnActionPropertiesConnectionTabSection"
               id="Action.交易配置.ConnTab1"
               tab="action.transinfo">
            <input
                  type="com.sq.core.gtw.edit.model.impl.ActionConnectionModel">
            </input>
         </propertySection>
         <propertySection
               class="com.sq.core.gtw.edit.extendtabproperties.FlowMgnActionPropertiesContentsModelTabSection"
               id="Action.基本属性.Tab2"
               tab="action.properties">
            <input
                  type="com.sq.core.gtw.edit.model.impl.ActionContentsModel">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="com.sq.core.gtw.edit.FlowMgnBizMutiEdit"
            typeMapper="com.sq.core.gtw.edit.extendtabproperties.FlowMgnBizTypeMapper">
         <propertyCategory
               category="Flow"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.sq.core.gtw.edit.FlowMgnBizMutiEdit">
         <propertyTab
               category="Flow"
               id="Flow.properties"
               label="基本属性">
         </propertyTab>
         <propertyTab
               afterTab="Flow.properties"
               category="Flow"
               id="Flow.transinfo"
               label="交易配置">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.sq.core.gtw.edit.FlowMgnBizMutiEdit">
         <propertySection
               class="com.sq.core.gtw.edit.extendtabproperties.FlowMgnBizTransInfoTabSection"
               id="Flow.基本属性.Tab1"
               tab="Flow.properties">
            <input
                  type="com.sq.core.gtw.edit.model.impl.BizModelPropertiesSql">
            </input>
            <input
                  type="com.sq.core.gtw.edit.model.impl.BizModelPropertiesFtp">
            </input>
            <input
                  type="com.sq.core.gtw.edit.model.impl.BizModelPropertiesSystem">
            </input>
         </propertySection>
         <propertySection
               class="com.sq.core.gtw.edit.extendtabproperties.FlowMgnBizSqlPropertiesTabSection"
               id="Flow.交易配置.SQL配置1"
               tab="Flow.transinfo">
            <input
                  type="com.sq.core.gtw.edit.model.impl.BizModelPropertiesSql">
            </input>
         </propertySection>
         <propertySection
               class="com.sq.core.gtw.edit.extendtabproperties.FlowMgnBizFtpPropertiesTabSection"
               id="Flow.交易配置.FTP配置1"
               tab="Flow.transinfo">
            <input
                  type="com.sq.core.gtw.edit.model.impl.BizModelPropertiesFtp">
            </input>
         </propertySection>
         <propertySection
               class="com.sq.core.gtw.edit.extendtabproperties.FlowMgnBizConnectionPropertiesTabSection"
               id="Flow.交易配置.Conn配置1"
               tab="Flow.transinfo">
            <input
                  type="com.sq.core.gtw.edit.model.impl.BizConnectionModel">
            </input>
         </propertySection>
         <propertySection
               class="com.sq.core.gtw.edit.extendtabproperties.FlowMgnBizContentsModelPropertiesTabSection"
               id="Flow.基本属性.Tab2"
               tab="Flow.properties">
            <input
                  type="com.sq.core.gtw.edit.model.impl.BizContentsModel">
            </input>
         </propertySection>
         <propertySection
               class="com.sq.core.gtw.edit.extendtabproperties.FlowMgnBizDefinitionPropertiesTabSection"
               id="自定义组件交易配置"
               tab="Flow.transinfo">
            <input
                  type="com.sq.core.gtw.edit.model.impl.BizModelPropertiesSystem">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="GTWPlatFrom.application"
            name="GTW开发平台">
         <property
               name="appName"
               value="GTW开发平台">
         </property>
      </product>
   </extension>
</plugin>
